/* Webfont: Afrah-Regular */@font-face {
    font-family: 'Afrah';
    src: url('Afrah-Regular.eot'); /* IE9 Compat Modes */
    src: url('Afrah-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Afrah-Regular.woff') format('woff'), /* Modern Browsers */
         url('Afrah-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Afrah-Regular.svg#Afrah-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

