/* Webfont: Afrah-Round */@font-face {
    font-family: 'AfrahRound';
    src: url('Afrah-Round.eot'); /* IE9 Compat Modes */
    src: url('Afrah-Round.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Afrah-Round.woff') format('woff'), /* Modern Browsers */
         url('Afrah-Round.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Afrah-Round.svg#Afrah-Round') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

